.h1 {
    font-family: 'Montserrat 900', sans-serif;
    font-size: 30px;
    color: #fff;
}
.nav-link {
    font-family:'Roboto 700', sans-serif;
}

.nasugbu {
    background-color: #D93B30;
}
.mnl {
    background-color: #BC1A6E;
}
.batangas{
    background-color: #DE3151;

}
.mabini {
    background-color: #CC2D4A;
}
.nasugbu, .mnl, .batangas, .mabini {
    color: #fff;
}

#header {
    padding: 3% 10%;
    background-color: #000;
}

.gifty { 
    background-color: #f0eded;
    margin-top: 7%;
    justify-content: center;
}


#transparent {
    background-color: rgba(255, 0, 255, 0.5);
}

.center-y {
    padding: 15%;
}