.h1 {
    font-family: 'Montserrat 900', sans-serif;
    font-size: 30px;
    color: #fff;
}
.nav-link {
    font-family:'Roboto 700', sans-serif;
}

.nasugbu {
    background-color: #D93B30;
}
.mnl {
    background-color: #BC1A6E;
}
.batangas{
    background-color: #DE3151;

}
.mabini {
    background-color: #CC2D4A;
}
.nasugbu, .mnl, .batangas, .mabini {
    color: #fff;
}

#header {
    padding: 2% 10%;
    background-color: #000;
}